.git
.github
.env
.env.*
!.env.example
**/node_modules
**/dist
**/*.test.ts
**/*.test.tsx
coverage
allure-report
allure-results
playwright-report
test-results
cdk.out
infra
docs
README.md
Dockerfile.api
